# In this dataset we will predict the hours of absence of an employee

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#importing dataset
data=pd.read_csv('1.2 Absenteeism_data.csv.csv')

In [3]:
#printing dataset
data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [123]:
#removing ID column as it wont contribute to determining the target variable
data=data.drop(['ID'],axis=1)
data.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [124]:
#analysing reason for absense column
sorted(data['Reason for Absence'].unique())
#we see 20 val is missing

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [125]:
#basically the above column is a categorical column which directly doesnt convey ny info
#rather with numbers it adds a comparison factor 
#here each num corresponds to a reason
#we will group the similar type of reasons to add meaning
#also if we applied dummy_variables the we would get 28 extra columns which would be meaningless

dummy=pd.get_dummies(data['Reason for Absence'])
dummy

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
688,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
690,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [126]:
#here we assume each person is absent due to a single reason only and hence each row will sum up to 1; so check it
dummy['check']=dummy.sum(axis=1)
dummy.head()

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [127]:
#analysing check feature
print(dummy.check.unique())
dummy.check.sum(axis=0)

[1]

700

In [128]:
#now we dont need the check variable so we drop it
dummy=dummy.drop(['check'],axis=1)
dummy.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [129]:
#now we will drop one of the coulumns of dummy to avoid multicollinearity issues
dummy=dummy.drop([0],axis=1)
dummy.head()

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [130]:
#grouping the reasons and appendind it to data 
data['reason_1']= dummy.iloc[:, 1:15].max(axis=1)#findind max val horizontally
data['reason_2']= dummy.iloc[:,15:18].max(axis=1)
data['reason_3']= dummy.iloc[:,18:22].max(axis=1)
data['reason_4']= dummy.iloc[:,22:].max(axis=1)
data.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,reason_1,reason_2,reason_3,reason_4
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,1,0
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,1,0

In [131]:
#now we dont need the reason for absence column
data=data.drop(['Reason for Absence'],axis=1)
data.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,reason_1,reason_2,reason_3,reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,1,0
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,1,0

In [132]:
#rearranging the columns
cols=data.columns
cols
cols=['reason_1', 'reason_2', 'reason_3',
       'reason_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours']
data=data[cols]

In [133]:
data

,reason_1,reason_2,reason_3,reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,1,0,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,1,0,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,0,0,1,0,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,0,0,1,0,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,0,0,1,0,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,0,0,1,0,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,0,0,1,0,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,0,0,0,0,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,0,0,0,0,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,1,0,0,0,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,1,0,0,0,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,0,0,1,0,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,1,0,0,0,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,0,0,1,0,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,0,0,1,0,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,1,0,0,0,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,0,0,1,0,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,1,0,0,0,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,1,0,0,0,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,1,0,0,0,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,0,0,0,1,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,0,1,0,0,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,0,0,0,1,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,0,0,1,0,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,0,0,0,1,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,0,1,0,0,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,0,0,1,0,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,0,0,1,0,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,1,0,0,0,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,0,0,0,1,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,0,0,1,0,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,0,0,1,0,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,0,0,0,1,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,1,0,0,0,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,0,0,0,1,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,1,0,0,0,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,0,0,0,1,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,1,0,0,0,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,0,0,1,0,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,0,0,1,0,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,0,0,0,1,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,0,0,1,0,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,1,0,0,0,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,0,0,0,1,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,0,0,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,0,0,0,1,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,0,0,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,0,1,0,0,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,1,0,0,0,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,1,0,0,0,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,0,0,1,0,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,0,0,1,0,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [134]:
#analysing the date column
data['Date']=pd.to_datetime(data['Date'],format='%d/%m/%Y')

In [135]:
data.head()

,reason_1,reason_2,reason_3,reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0
2,0,0,1,0,2015-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4
4,0,0,1,0,2015-07-23,289,36,33,239.554,30,1,2,1,2

In [136]:
#create month value colmn
month=[]
for i in range(len(data)):
    month.append(data.Date[i].month)
month

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [137]:
#add it to data
data['List_month']=month
data.head()

,reason_1,reason_2,reason_3,reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,List_month
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,1,0,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,1,0,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

In [138]:
#add weekday
def week_day(w):
    return w.weekday()

data['Week_day']=data.Date.apply(week_day)
data.head()

,reason_1,reason_2,reason_3,reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,List_month,Week_day
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,1,0,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,1,0,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [139]:
#now we can remove date column
data=data.drop(['Date'],axis=1)
data.head()

,reason_1,reason_2,reason_3,reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,List_month,Week_day
0,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,1,0,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,1,0,289,36,33,239.554,30,1,2,1,2,7,3

In [140]:
#rearrange the columns
cols=['reason_1', 'reason_2', 'reason_3', 'reason_4', 'List_month', 'Week_day',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours']
data=data[cols]
data.head()

,reason_1,reason_2,reason_3,reason_4,List_month,Week_day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,1,0,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,1,0,7,3,289,36,33,239.554,30,1,2,1,2

In [141]:
#next education column
data.Education.value_counts()
#we see it has 4 classifiers or 4 type of education
#as class 1 is the highest we will form 2 classes with class 1 vs the rest

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [142]:
#implementing the above idea
data['Education']=data['Education'].map({1:0,2:1,3:1,4:1})
data.head()

,reason_1,reason_2,reason_3,reason_4,List_month,Week_day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,1,0,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,1,0,7,3,289,36,33,239.554,30,0,2,1,2

In [143]:
#creating a chechpoint
data_preprocessed=data.copy()
data_preprocessed.head()

,reason_1,reason_2,reason_3,reason_4,List_month,Week_day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,1,0,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,1,0,7,3,289,36,33,239.554,30,0,2,1,2

# Preprocessing complete

# ML Starts
We will use logistic regression as our classifying model. we will have 2 classes:
a)excessively absent
b)moderately absent
we will have the mean value of target variable as a cutoff. Values above median will fall into class a and less than median into class b.

In [144]:
#finding median
med= data['Absenteeism Time in Hours'].median()
med

3.0

In [145]:
#creating the 2 class
target=np.where(data['Absenteeism Time in Hours']>med,1,0)
target

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [146]:
#adding it to dataset
data['excessively absent']=target
data.head()

,reason_1,reason_2,reason_3,reason_4,List_month,Week_day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,excessively absent
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,1,0,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,1,0,7,3,289,36,33,239.554,30,0,2,1,2,0

In [147]:
#dropping the absenteeism column
#dropping the next 3 columns as a later change
data=data.drop(['Absenteeism Time in Hours','Week_day','Distance to Work','Daily Work Load Average'],axis=1)
data.head()

,reason_1,reason_2,reason_3,reason_4,List_month,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,excessively absent
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,1,0,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,1,0,7,289,33,30,0,2,1,0

In [148]:
#checking class imbalance
target.sum()/len(target)
# 45% of labels are class 1 rest are of class 0 type
# for logistic reg 40-60 div works fi9

0.45571428571428574

In [149]:
#defining inputs
unscaled_inputs=data.iloc[:,:-1]
unscaled_inputs.head()

,reason_1,reason_2,reason_3,reason_4,List_month,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,1,0,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,1,0,7,289,33,30,0,2,1

In [150]:
#importing lib for scalling
#from sklearn.preprocessing import StandardScaler

In [151]:
#correcting mistake of stnd all inputs
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin):
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        self.scaler=StandardScaler(copy,with_mean,with_std)
        self.columns=columns
        self.mean_=None
        self.var_=None
    
    def fit(self,X,y=None):
        self.scaler.fit(X[self.columns],y)
        self.mean_=np.mean(X[self.columns])
        self.var_=np.var(X[self.columns])
        return self
        
    def transform(self,X,y=None,copy=None):
        init_col_order= X.columns
        X_scaled=pd.DataFrame(self.scaler.transform(X[self.columns]),columns=self.columns)
        X_not_scaled=X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled,X_scaled],axis=1)[init_col_order]

In [152]:
#syndardising only non-dummy columns
#columns_to_scale=['List_month','Week_day', 'Transportation Expense', 'Distance to Work', 'Age',
 #      'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pets']
columns_to_omit=['reason_1','reason_2','reason_3','reason_4','Education']
columns_to_scale=[x for x in unscaled_inputs.columns.values if x not in columns_to_omit]
absenteeism_scaler=CustomScaler(columns_to_scale)
absenteeism_scaler.fit(unscaled_inputs)
inputs=absenteeism_scaler.transform(unscaled_inputs)

In [153]:
#scalling the inputs
#sc=StandardScaler()
#sc.fit(unscaled_inputs)
#inputs=sc.transform(unscaled_inputs)
#inputs
inputs #printing the result

,reason_1,reason_2,reason_3,reason_4,List_month,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,1,0,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,1,0,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
5,0,0,1,0,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
6,0,0,1,0,0.182726,2.092381,-1.320435,0.061825,0,-0.019280,2.843016
7,0,0,1,0,0.182726,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
8,0,0,1,0,0.182726,-1.016322,-0.379188,-0.408580,0,0.880469,-0.589690
9,0,0,1,0,0.182726,0.190942,0.091435,0.532229,1,-0.019280,0.268487
10,0,0,0,0,0.182726,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
11,0,0,0,0,0.182726,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
12,1,0,0,0,0.182726,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
13,1,0,0,0,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
14,0,0,1,0,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
15,1,0,0,0,0.182726,0.356940,0.718933,-0.878984,0,-0.919030,-0.589690
16,0,0,1,0,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
17,0,0,1,0,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
18,1,0,0,0,0.182726,-0.503235,-0.536062,-0.408580,0,0.880469,1.126663
19,0,0,1,0,0.468236,0.387122,1.660180,1.237836,0,0.880469,0.268487
20,1,0,0,0,0.468236,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
21,1,0,0,0,0.468236,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
22,1,0,0,0,0.468236,2.092381,-1.320435,0.061825,0,-0.019280,2.843016
23,0,0,0,1,0.468236,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
24,0,1,0,0,0.468236,1.005844,-0.536062,0.767431,0,0.880469,0.268487
25,0,0,0,1,0.468236,2.092381,-1.320435,0.061825,0,-0.019280,2.843016
26,0,0,1,0,0.468236,1.005844,-0.536062,0.767431,0,0.880469,0.268487
27,0,0,0,1,0.468236,-0.986140,-1.163560,-1.114186,0,-0.919030,-0.589690
28,0,1,0,0,0.468236,1.005844,-0.536062,0.767431,0,0.880469,0.268487
29,0,0,1,0,0.468236,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,-0.673803,-1.016322,-0.379188,-0.408580,0,0.880469,-0.589690
671,0,0,1,0,-0.673803,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
672,1,0,0,0,-0.673803,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
673,0,0,0,1,-0.673803,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
674,0,0,1,0,-0.388293,0.190942,0.091435,0.532229,1,-0.019280,0.268487
675,0,0,1,0,-0.388293,0.040034,0.718933,0.297027,1,0.880469,1.126663
676,0,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
677,1,0,0,0,-0.388293,-1.574681,0.091435,0.297027,0,-0.919030,-0.589690
678,0,0,0,1,-0.388293,0.190942,1.032682,2.649049,0,-0.019280,-0.589690
679,1,0,0,0,-0.388293,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
680,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487
681,1,0,0,0,-0.388293,0.040034,0.718933,0.297027,1,0.880469,1.126663
682,0,0,1,0,-0.388293,1.171843,1.032682,-0.408580,0,0.880469,0.268487
683,0,0,1,0,-0.388293,0.040034,0.718933,0.297027,1,0.880469,1.126663
684,0,0,0,1,-0.388293,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
685,0,0,1,0,-0.388293,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
686,1,0,0,0,-0.388293,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
687,0,0,0,1,-0.388293,-1.574681,0.091435,0.297027,0,-0.919030,-0.589690
688,0,0,0,0,-0.388293,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
689,0,0,0,1,-0.388293,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
690,0,0,0,0,-0.388293,2.348925,-0.065439,-1.349389,0,0.880469,2.843016
691,0,1,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
692,1,0,0,0,-0.388293,-1.016322,-0.379188,-0.408580,0,0.880469,-0.589690
693,1,0,0,0,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
694,0,0,1,0,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487
695,1,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,1,0,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [154]:
#importing lib
from sklearn.model_selection import train_test_split

In [155]:
#splitting the dataset
x_train,x_test,y_train,y_test= train_test_split(inputs,target,train_size=0.8,random_state=20)

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [156]:
#checking shapes
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(560, 11) (560,) (140, 11) (140,)

In [157]:
#import lib
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [158]:
#train the model
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [159]:
#calculating accuracy of training data
lr.score(x_train,y_train)

0.7107142857142857

In [160]:
#finding intercepts and coeff
print(lr.intercept_)
lr.coef_

[-0.68384354]

array([[ 1.67090791,  1.4657681 ,  0.34827511, -0.14024702,  0.11430345,
         0.5604454 , -0.13507047,  0.22573127, -0.0494661 ,  0.32284927,
        -0.27314058]])

In [161]:
#creating summary table
feature_names=['reason_1', 'reason_2', 'reason_3', 'reason_4', 'List_month',
        'Transportation Expense',  'Age',
       'Body Mass Index', 'Education', 'Children',
       'Pets']
summary_table=pd.DataFrame(data=feature_names,columns=['Feature_names'])
summary_table['Coefficients']=np.transpose(lr.coef_)
summary_table

             Feature_names  Coefficients
0                 reason_1      1.670908
1                 reason_2      1.465768
2                 reason_3      0.348275
3                 reason_4     -0.140247
4               List_month      0.114303
5   Transportation Expense      0.560445
6                      Age     -0.135070
7          Body Mass Index      0.225731
8                Education     -0.049466
9                 Children      0.322849
10                    Pets     -0.273141

In [162]:
#adding the intercept
summary_table.index=summary_table.index+1 #shifting index by 1
summary_table.loc[0]=['Intercept',lr.intercept_[0]]
summary_table=summary_table.sort_index()
summary_table

             Feature_names  Coefficients
0                Intercept     -0.683844
1                 reason_1      1.670908
2                 reason_2      1.465768
3                 reason_3      0.348275
4                 reason_4     -0.140247
5               List_month      0.114303
6   Transportation Expense      0.560445
7                      Age     -0.135070
8          Body Mass Index      0.225731
9                Education     -0.049466
10                Children      0.322849
11                    Pets     -0.273141

Here, in logistic regression eqn of the best fitted line is:
log(odds)=b0+x1b1+...
=>odds= exponential of the above rhs
The above table shows  the coeff of log(odds)
lets find the coeff of odds

In [163]:
#adding odds coeff to above table
summary_table['Odds_coeff']= np.exp(summary_table['Coefficients'])
summary_table

             Feature_names  Coefficients  Odds_coeff
0                Intercept     -0.683844    0.504674
1                 reason_1      1.670908    5.316993
2                 reason_2      1.465768    4.330869
3                 reason_3      0.348275    1.416622
4                 reason_4     -0.140247    0.869144
5               List_month      0.114303    1.121092
6   Transportation Expense      0.560445    1.751452
7                      Age     -0.135070    0.873654
8          Body Mass Index      0.225731    1.253239
9                Education     -0.049466    0.951737
10                Children      0.322849    1.381057
11                    Pets     -0.273141    0.760986

A feature is not imp if :
a) it's coeff is around 0
b) its odds ratio is around 1
A coeff of 0 implies that no matter the feature value, we will multiply it by 0
For a unit change in the stand feature, the odds inc by a multiple equal to the odds ratio(1= nochange)

Now there is a prob.We have stand all the input variables including the dummies; thus loosing interpretability of the dummy.
Thus we need to correct it by stand only the non dummy values. So we go back to stnd scaler and correct it.

BACKWARD ELIMINATION
we can simplify our model by removing al features which have close to no contribution to the model

with p values we can get rid of coeff with p val>0.05,but here we dont have p values

so if wt is too small it doess not make a diff anyway

thus we will remove Daily Work Load Average, Distance to Work, Week_day.
Now we will go to targets and make changes

In [164]:
#accuracy of test data
lr.score(x_test,y_test)

0.6642857142857143

In [167]:
#predicted prob
predicted_proba=lr.predict_proba(x_test)
predicted_proba
#column 1 shows prob of being 0(moderately absent) and the second column prob of being 1(excessively absent)
#thus summing horizontally we get 1

array([[0.72753066, 0.27246934],
       [0.59988952, 0.40011048],
       [0.48808251, 0.51191749],
       [0.77612196, 0.22387804],
       [0.3793724 , 0.6206276 ],
       [0.36171075, 0.63828925],
       [0.33567826, 0.66432174],
       [0.48238843, 0.51761157],
       [0.77859687, 0.22140313],
       [0.65116113, 0.34883887],
       [0.41756127, 0.58243873],
       [0.16993256, 0.83006744],
       [0.32243941, 0.67756059],
       [0.58890577, 0.41109423],
       [0.42862904, 0.57137096],
       [0.52238782, 0.47761218],
       [0.45769666, 0.54230334],
       [0.44960825, 0.55039175],
       [0.39476717, 0.60523283],
       [0.29550901, 0.70449099],
       [0.60888753, 0.39111247],
       [0.77612196, 0.22387804],
       [0.4563551 , 0.5436449 ],
       [0.4563551 , 0.5436449 ],
       [0.66174535, 0.33825465],
       [0.74919704, 0.25080296],
       [0.39897448, 0.60102552],
       [0.74572502, 0.25427498],
       [0.620956  , 0.379044  ],
       [0.77612196, 0.22387804],
       [0.51175327, 0.48824673],
       [0.35002798, 0.64997202],
       [0.34678162, 0.65321838],
       [0.40177799, 0.59822201],
       [0.77612196, 0.22387804],
       [0.36762283, 0.63237717],
       [0.77292006, 0.22707994],
       [0.39133018, 0.60866982],
       [0.60301575, 0.39698425],
       [0.30143201, 0.69856799],
       [0.78174133, 0.21825867],
       [0.50359644, 0.49640356],
       [0.76126074, 0.23873926],
       [0.3793724 , 0.6206276 ],
       [0.21580222, 0.78419778],
       [0.57228815, 0.42771185],
       [0.32912755, 0.67087245],
       [0.620956  , 0.379044  ],
       [0.76221443, 0.23778557],
       [0.78725832, 0.21274168],
       [0.41469337, 0.58530663],
       [0.43067953, 0.56932047],
       [0.36171075, 0.63828925],
       [0.72493011, 0.27506989],
       [0.19684199, 0.80315801],
       [0.46287175, 0.53712825],
       [0.46580742, 0.53419258],
       [0.75614439, 0.24385561],
       [0.46937427, 0.53062573],
       [0.46125502, 0.53874498],
       [0.296097  , 0.703903  ],
       [0.36927882, 0.63072118],
       [0.60221205, 0.39778795],
       [0.35215386, 0.64784614],
       [0.69065712, 0.30934288],
       [0.63619277, 0.36380723],
       [0.79375576, 0.20624424],
       [0.67619748, 0.32380252],
       [0.66292055, 0.33707945],
       [0.55697759, 0.44302241],
       [0.77292006, 0.22707994],
       [0.47401776, 0.52598224],
       [0.1310771 , 0.8689229 ],
       [0.44185198, 0.55814802],
       [0.43789365, 0.56210635],
       [0.77612196, 0.22387804],
       [0.3714548 , 0.6285452 ],
       [0.2697633 , 0.7302367 ],
       [0.2875374 , 0.7124626 ],
       [0.7340263 , 0.2659737 ],
       [0.75527914, 0.24472086],
       [0.81032438, 0.18967562],
       [0.75614439, 0.24385561],
       [0.29317894, 0.70682106],
       [0.56590047, 0.43409953],
       [0.76967548, 0.23032452],
       [0.33214803, 0.66785197],
       [0.4563551 , 0.5436449 ],
       [0.55777159, 0.44222841],
       [0.35002798, 0.64997202],
       [0.68482398, 0.31517602],
       [0.77080766, 0.22919234],
       [0.7704004 , 0.2295996 ],
       [0.63619277, 0.36380723],
       [0.65116113, 0.34883887],
       [0.16772549, 0.83227451],
       [0.72101367, 0.27898633],
       [0.27424078, 0.72575922],
       [0.74401728, 0.25598272],
       [0.744358  , 0.255642  ],
       [0.42189854, 0.57810146],
       [0.35002798, 0.64997202],
       [0.32208627, 0.67791373],
       [0.26325333, 0.73674667],
       [0.44991491, 0.55008509],
       [0.54725934, 0.45274066],
       [0.7339516 , 0.2660484 ],
       [0.16772549, 0.83227451],
       [0.22762541, 0.77237459],
       [0.84992771, 0.15007229],
       [0.82015365, 0.17984635],
       [0.12314646, 0.87685354],
       [0.74358944, 0.25641056],
       [0.53616823, 0.46383177],
       [0.4946823 , 0.5053177 ],
       [0.44486837, 0.55513163],
       [0.61773845, 0.38226155],
       [0.20416336, 0.79583664],
       [0.46981568, 0.53018432],
       [0.71064646, 0.28935354],
       [0.64371205, 0.35628795],
       [0.72671841, 0.27328159],
       [0.14813814, 0.85186186],
       [0.50359644, 0.49640356],
       [0.77612196, 0.22387804],
       [0.51642678, 0.48357322],
       [0.78174133, 0.21825867],
       [0.87680083, 0.12319917],
       [0.30385129, 0.69614871],
       [0.60888753, 0.39111247],
       [0.40501775, 0.59498225],
       [0.78174133, 0.21825867],
       [0.72101367, 0.27898633],
       [0.63512174, 0.36487826],
       [0.62541457, 0.37458543],
       [0.37524188, 0.62475812],
       [0.44960825, 0.55039175],
       [0.54891056, 0.45108944],
       [0.74401728, 0.25598272],
       [0.44185198, 0.55814802]])

# Save the model

saving the model means saving the lr object
we will use pickle module= is a python module used to convert python obj nto character stream
the fil size will be <1KB

In [170]:
#saving module
import pickle
with open('model','wb') as file:
    pickle.dump(lr,file)
#model=filename
#wb=write bytes
#dump=save
#lr=obj to be dumped
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler,file)

# Create a module

the second step is about creating a mechanism to load saved module and make predictions
module=this includes creating a generalized code of the above which includes all the operations as sep funcs under a class for any given dataset
we have created absenteeism_module.py

# Deploy the model

now the module for the prob is ready
so in a sep python file we can import * from this module and simply pass any dataset(of similar type) and get our results without even knowing nything about the module or the code
'absenteeism_deploy'

# Analyze the model(i.e. its various features) using any visualization tool